<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <header id="walletHead">
        <div id="walletHeadL">
             <h3>Welcome</h3>
        </div>
        <div id="walletHeadR">
            <a href="{% url 'wallet' %}">Wallet</a>
            <a href="{% url 'deposit' pk=pk %}">Deposit</a>
            <a href="{% url 'withdraw' pk=pk %}">Withdraw</a>
            <a href="{% url 'bank' pk=pk %}">Bank</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </header>
    <div id="BankInfo">
        {% for info in bank %}
            balance: {{ info.balance }} <br>
            loans: {{ info.loans }}
        {% endfor %}
    </div>
    <div id="BankBorrow">

    </div>
</body>
</html>