<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Wallet</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h3>Welcome to you wallet</h3>
        <a href="{% url 'logout' %}">Logout</a>
    </header>
    <div id="upper">
        {% for var in variables %}
            Balance: {{ var.balance }}
            Balance: {{ var.borrowed }}
        {% endfor %}
    </div>
    <div id="lower">
        <p>Histroy</p>
    </div>
</body>
</html>