<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Wallet</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header id="walletHead">
        <div id="walletHeadL">
            <h3>Welcome to you wallet</h3>
        </div>

        <div id="walletHeadR">
            <a href="{% url 'deposit' pk=pk %}">Deposit</a>
            <a href="{% url 'withdraw' %}">Withdraw</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </header>
    <div id="leftWal">
        {% for var in variables %}
            Balance: {{ var.balance }} <br>
            Borrowed: {{ var.borrowed }}
        {% endfor %}
    </div>
    <div id="rightWal">
        <p>Histroy</p>
    </div>
</body>
</html>